@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #c7ecee, dodgerblue);
}

.crd {
    height: 300px;
    width: 400px;
    background-color: #eaeae9;
    margin-top: 100px;
    border-radius: 7px;
}

.next {
    background-color: #22a6b3;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin: 10px 10px 10px 40px;
}

.back {
    background-color: #b33939;
    border: none;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.input-field {
    position: relative;
    margin: 20px 30px;
}

.input-field input {
    width: 300px;
    height: 45px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #2C3A47;
    background: transparent;
    color: black;
    outline: none;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: black;
    font-size: 19px;
    pointer-events: none;
    transition: 0.3s;
}

.input-field input:focus {
    border: 3px solid #778ca3;
}

.input-field input:focus~label,
.input-field input:valid~label {
    top: 0;
    left: 15px;
    font-size: 14px;
    padding: 0 2px;
    background: #eaeae9;
}

.select {
    width: 300px;
    height: 40px;
    margin-left: 30px;

}

.select select {
    height: 40px;
    border: 2px solid #84817a;

}

.select span {
    color: red;
    font-size: 13px;
    margin-left: 10px;
}