.bank_pic {
    z-index: 1;
    position: fixed;
    width: 100%;
    margin-bottom: -112px;

}


.service {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service div {

    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: #ca992e;
    color: white;
    margin: 20px;
    border-radius: 10px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}


.service div:hover {

    box-shadow: 0px 0px 20px rgb(145, 211, 21);
    position: relative;
    transform: scale(1.1);
    transition: 0.4s;
}

.service div button {
    height: 35px;
    width: auto;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    color: rgb(165, 7, 7);
    padding: 0 10px;
    font-weight: bold;
    transition: 0.4s;


}

.service div button:hover {


    position: relative;
    transform: scale(1.1);
    transition: 0.4s;

}